$pink: #F374AE
$orange: #F85E00
$red: #A41623
$timberwolf: #D3D0CB
$onyx: #393E41

body
    width: 100%
    background-color: $timberwolf
    color: $onyx
    // font-family: 'Noto Sans JP', sans-serif
    font-family: 'Playfair Display', serif

a:link
    text-decoration: none
a:visited
    text-decoration: none
    color: inherit
a:hover
    text-decoration: underline
    color: $orange

.navigation
    display: flex
    align-items: stretch
    width: 50%
    margin: 0 auto
    font-weight: bold
    font-size: 20


.navigation-title
    width: 50%
    order: -1

.navigation-list
    display: flex
    justify-content: flex-end
    width: 50%

.navigation-item
    margin-left: 10px
    margin-right: 10px

.content
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin-top: 2rem
    margin-bottom: 2rem
    min-height: 80vh

footer
    width: 100%
    text-align: center
    margin: 2px
    padding: 1px

.avatar
    border-radius: 50%

.social-links
    display: flex
    justify-content: center
    flex-direction: row

.social-links
    a
        margin: 10px

.footer
    width: 50%
    text-align: center
    margin: 0 auto

.footer-element
    display: inline
    margin-left: 5px
    margin-right: 5px