<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}
  <title>{{ config.title | trim }}</title>
  {% endblock %}
  <link rel="stylesheet" href='/style.css'>
  <link rel="stylesheet" href="https://use.edgefonts.net/c/26d4b4/1w;source-code-pro,2,glz:W:n4,gm5:W:n7;source-sans-pro,2,2cm9PD:W:i2,2cm9PG:W:i3,2cm9PJ:W:i4,2cm9PL:W:i6,2cm9PN:W:i7,2cm9PQ:W:i9,2cm9PC:W:n2,2cm9PF:W:n3,2cm9PH:W:n4,2cm9PK:W:n6,2cm9PM:W:n7,2cm9PP:W:n9;volkhov,2,Wj9:W:i4,WjC:W:i7,WjD:W:n4,WjB:W:n7/l" media="all">
  {% if config.extra.googleanalytics %}
  <!-- Asynchronous Google Analytics snippet -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39684817-1"></script>
  <script src="/lib/google_analytics.js"></script>
</head>

<body>
  <script src="/lib/navbar.js"></script>
  <nav class="sticky">
    <section class="navigation">
      <a href="javascript:void(0);" class="navigation-item" onclick="toggleNavButton()">
        <i class="fa fa-bars icon"></i><span class="nav-menu">Menu</span>
      </a>
      <a class="navigation-item" href="/">HOME</a>
      <a class="navigation-item" href="/blog/">BLOG</a>
      <a class="navigation-item" href="/book_summaries/">BOOK SUMMARIES</a>
      <a class="navigation-item" href="/contact/">CONTACT</a>
    </section>
  </nav>
  <section class="content">
    {% block content %} {% endblock content %}
  </section>
  <footer>
    <section class="footer-content">
      <i class="fa fa-copyright footer-element"></i>
      <p class="footer-element">Pranit Bauva</p>
      <i class="fa fa-angle-double-right footer-element"></i>
      <a class="footer-element" href="/annual_reports/">Annual Reports</a>
    </section>
  </footer>
  <script src="https://use.fontawesome.com/1ceb47dcca.js"></script>

{% endif %}
</body>
