{% extends "base.html" %}

{% block title %}
<title>{{ section.title }}</title>
{% endblock title %}

{% block content %}
<img class="avatar" src="/images/pranit.jpg">
<h1>Pranit Bauva</h1>
<h3>Software Engineer | Investor</h3>
<div class="social-links">
  <a href="https://github.com/pranitbauva1997"><i class="fa fa-github fa-2x"></i></a>
  <a href="https://twitter.com/pranitbauva1997"><i class="fa fa-twitter fa-2x"></i></a>
  <a href="https://www.linkedin.com/in/pranitbauva/"><i class="fa fa-linkedin fa-2x"></i></a>
</div>

{% endblock content %}