{% extends "base.html" %}

{% block title %}
<title>{{ section.title | trim }}</title>
{% endblock title %}

{% block content %}

  <h1>{{ section.title }}</h1>
  <div class="section-content">
    {% if section.description %}
    <p>{{ section.description | trim }}</p>
    {% endif %}

    {% for post in section.pages %}
      <div class="post-row">
        <div class="post-title">
          <span><a class="post-title-text" href="{{ post.permalink }}">{{ post.title }}</a></span>
        </div>

        <div class="post-metadata">
          <div class="post-date">
            <span>{{ post.date | trim | date(format="%e %b %Y") }}</span>
          </div>
          {% if post.taxonomies.tags %}
          <div class="post-tags">
            {% for tag in post.taxonomies.tags %}
            <span class="post-tag">#{{tag}}
            </span>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock content %}